body {
    font-family: 'Baloo Thambi 2', 'Ubuntu', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
}

.absolute-divs {
    position: absolute;
    opacity: 0.95;
    background-color: #fff;
    height: 700px;
    width: 95%;
    text-align: center;
    font-size: larger;
}

#start-page {
    visibility: visible;
}

#difficulty-section {
    visibility: hidden;
}

#rules-section {
    visibility: hidden;
}

.game-area {
    margin: 20px 12.5% 0px;
    padding: 20px 20px 0px;
    /* background-color: #cec7bf; */
}

.buttons {
    /* background-color: yellowgreen; */
    width: 19%;
    height: 420px;
    display: inline-block;
}

.buttons>button {
    font-size: 30px;
    /* font-weight: bold; */
    margin: 3px 5%;
    padding: 20px 10px;
    width: 90%;
    /* background-color: blueviolet; */
    float: left;
    clear: left;
    border: 2px #000 solid;
    border-radius: 10px;
}

#rock-btn {
    background-color: #574e43;
    color: #fff;
    border-color: #574e43;
}

#rock-btn:hover {
    background-color: #f2f2f2;
    color: #574e43;
}

#paper-btn {
    background-color: #ffa300;
    color: #fff;
    border-color: #ffa300;
}

#paper-btn:hover {
    background-color: #f2f2f2;
    color: #ffa300;
}

#scissors-btn {
    background-color: #d80000;
    color: #fff;
    border-color: #d80000;
}

#scissors-btn:hover {
    background-color: #f2f2f2;
    color: #d80000;
}

#lizard-btn {
    background-color: #227600;
    color: #fff;
    border-color: #227600;
}

#lizard-btn:hover {
    background-color: #f2f2f2;
    color: #227600;
}

#spock-btn {
    background-color: #1167b1;
    color: #fff;
    border-color: #1167b1;
}

#spock-btn:hover {
    background-color: #f2f2f2;
    color: #1167b1;
}

#help-buttons>button {
    background-color: #6d4720;
    color: #fff;
    border-color: #6d4720;
}

#help-buttons>button:hover {
    background-color: #f2f2f2;
    color: #6d4720;
}

.choices {
    /* background-color: brown; */
    vertical-align: top;
    display: inline-block;
    width: 29%;
    height: 404px;
    border: 8px #000 solid;
    border-radius: 10px;
}

#player-choice {
    /* background-color: #ffe5b4; */
    border-color: #374f6b;
    font-size: 300px;
    text-align: center;
}

#ai-choice {
    border-color: #bd1816;
    font-size: 300px;
    text-align: center;
}

#score-area {
    /* background-color: yellow; */
    width: 43.5%;
    margin: 0px 27.45%;
    border: 8px solid #ff9154;
    background-color: #ffdda4;
    border-radius: 10px;
}

#score-area>div {
    display: inline-block;
    vertical-align: top;

}

#player-name {
    width: 39.25%;
}

#player-name>h2 {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin: 10px 0px;
}

#player-score {
    /* background-color: #a4a7aa; */
    width: 10%;
}

#player-score>h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}

#ai-score {
    /* background-color: #7c135d; */
    width: 10%;
}

#ai-score>h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}

#ai {
    /* background-color: #1db83f; */
    width: 39.25%;
}

#ai>h2 {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin: 10px 0px;
}

@media screen and (max-width: 1600px) {
    .game-area {
        margin: 20px 2.5% 0px;
    }

    #score-area {
        margin: 0px 21.5%;
        width: 55%;
    }

}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .game-area {
        margin: 0px 10% 10px;
        padding: 5px 0px 0px 0px;
    }

    .buttons {
        width: 24%;
        height: 250px;
    }

    .buttons>button {
        font-size: 20px;
        padding: 10px 2px;
    }

    .choices {
        width: 23%;
        height: 250px;
        vertical-align: top;
    }

    #player-choice {
        font-size: 200px;
    }

    #ai-choice {
        font-size: 200px;
    }

    #score-area {
        margin: 0px 11%;
        width: 76%;
    }

    #score-area h2 {
        font-size: 20px;
    }

    #score-area h3 {
        font-size: 20px;
    }

}

@media screen and (max-width: 1160px) {
    #player-choice {
        font-size: 170px;
    }

    #ai-choice {
        font-size: 170px;
    }
}

@media screen and (max-width: 950px) {

    h1 {
        margin-bottom: 10px;
    }

    .game-area {
        margin: 0px 2% 10px;
    }

    #score-area {
        margin: 0px 3%;
        width: 92%;
    }

    #player-choice {
        font-size: 150px;
    }

    #ai-choice {
        font-size: 150px;
    }
}

@media screen and (max-width: 737px) {

    h1 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .buttons {
        width: 100%;
        height: 60px;
    }

    .buttons>button {
        font-size: 15px;
        margin: 3px 1%;
        padding: 5px 2px;
        width: 17%;
        height: 60px;
        clear: unset;
        border-radius: 5px;
    }

    .choices {
        width: 46%;
        height: 200px;
        vertical-align: top;
        border: 4px #000 solid;
        border-radius: 5px;
    }

    #score-area {
        margin: 0px 2%;
        width: 90%;
        border: 4px solid #ff9154;
        border-radius: 5px;
    }

    #player-name {
        width: 37.25%;
    }

    #score-area h2 {
        margin: 1px;
        font-size: 15px;
    }

    #score-area h3 {
        font-size: 15px;
        margin: 1px;
    }


}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 20px;
    }

    .buttons {
        height: 130px;
    }

    .buttons>button {
        width: 30%;
    }

    #help-buttons {
        height: 40px;
    }

    #help-buttons>button {
        width: 48%;
        margin-left: 1%;
        height: 30px
    }

    .choices {
        height: 130px;
    }

    #player-choice {
        font-size: 100px;
    }

    #ai-choice {
        font-size: 100px;
    }

    #player-name {
        width: 36.5%;
    }

    #score-area h2 {
        margin: 1px;
        font-size: 15px;
    }

    #score-area h3 {
        font-size: 15px;
        margin: 1px;
    }


}