body {
    font-family: 'Baloo Thambi 2', 'Ubuntu', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
}

.game-area {
    margin: 20px 12.5%;
    padding: 20px;
}

