body {
    font-family: 'Baloo Thambi 2', 'Ubuntu', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
}

.game-area {
    margin: 20px 12.5% 0px;
    padding: 20px 20px 0px;
    /* background-color: #cec7bf; */
}

.buttons{
    /* background-color: yellowgreen; */
    width: 19%;
    height: 420px;
    display: inline-block;
}

.buttons > button {
    font-size: 30px;
    /* font-weight: bold; */
    margin: 3px 5%;
    padding: 20px 10px;
    width: 90%;
    /* background-color: blueviolet; */
    float: left;
    clear: left;
    border: 2px #000 solid;
    border-radius: 10px;
}

#rock-btn {
    background-color: #574e43;
    color: #fff;
    border-color: #574e43;
}

#paper-btn {
    background-color: #ffa300;
    color: #fff;
    border-color: #ffa300;
}

#scissors-btn {
    background-color: #d80000;
    color: #fff;
    border-color: #d80000;
}

#lizard-btn {
    background-color: #227600;
    color: #fff;
    border-color: #227600;
}

#spock-btn {
    background-color: #1167b1;
    color: #fff;
    border-color: #1167b1;
}

#help-buttons > button {
    background-color: #6d4720;
    color: #fff;
    border-color: #6d4720;

}

.choices {
    /* background-color: brown; */
    display: inline-block;
    width: 29%;
    height: 404px;
    border: 8px #000 solid;
    border-radius: 10px;
}

#player-choice {
    /* background-color: #ffe5b4; */
    border-color: #374f6b;
}

#ai-choice {
    border-color: #bd1816;
}

#score-area {
    /* background-color: yellow; */
    width: 43.5%;
    margin: 0px 27.45%;
    border: 8px solid #ff9154;
    background-color: #ffdda4;
    border-radius: 10px;
}

#score-area > div {
    display: inline-block;
    vertical-align: top;

}

#player-name {
    /* background-color: #1167b1; */
    width: 39.25%;
}

#player-name > h2 {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin: 10px 0px;
}

#player-score {
    /* background-color: #a4a7aa; */
    width: 10%;
}

#player-score > h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}

#ai-score {
    /* background-color: #7c135d; */
    width: 10%;
}

#ai-score > h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}

#ai {
    /* background-color: #1db83f; */
    width: 39.25%;
}

#ai > h2  {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin: 10px 0px; 
}